<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.gpetuhov.android.hive">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <!-- This is needed to start service in foreground on Android 9.
    This is a normal permission, so the system automatically grants it to the requesting app -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".application.HiveApp"
            android:largeHeap="true"
            tools:ignore="GoogleAppIndexingWarning">

        <!-- Google Maps App ID -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDvvwYjIUfP7si-5gclnuNFO5WreCkiJXQ"/>

        <!-- This is required to prevent Google Maps from crashing in Android Pie -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
                android:name=".ui.activity.SplashActivity"
                android:theme="@style/AppTheme.Launcher"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activity.PermissionsActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
                android:name=".ui.activity.AuthActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>

        <!-- adjustPan is needed to prevent keyboard from pushing activity up -->
        <activity
                android:name=".ui.activity.MainActivity"
                android:windowSoftInputMode="stateUnchanged|adjustPan">
        </activity>

        <service android:name=".service.LocationService"/>

        <service android:name=".service.MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.ActivityRecognitionReceiver"/>

    </application>

</manifest>